html{
    height: 100%;
    margin: 0px;
}
body{
    height: 100%;
    font-family: "맑은 고딕","고딕",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    
}
h1,ul,ol{
    margin: 0;
    padding: 0;
}
a{
    color: initial;
    text-decoration: initial;
}
ul,ol{
    list-style: none;
}
.d-none{
    display: none !important;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}

:root{
    --shadow : 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
}
/*-----------------*/
.float-content{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    /* opacity: 0.7;     */
    /* height: inherit; */
}
/*-----------------*/

#root{
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header" 
    "body body"
    "footer footer";
}

#root>#header{
    width: 100%;
    height: 70px;
    grid-area: header;
    position :fixed;
    background-color: white;
    overflow: hidden;
    display: flex;
}

#root>#footer{
    background-color: #767676;
    grid-area: footer;
}

#body{
    grid-area: body;
    
}
    #body .float-content{
        
        height: 100%;
        display: grid;  
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "main";
    }

#aside{
    grid-area: aside;
    border-right: solid #e4e6e8 1px;
    /* margin-top: 10PX;
    background-color: white;
    position: fixed;
    width: 200px; */
    
}
#main{  
    grid-area: main;
    padding: 20PX;
    margin: 10px;
    
}


/*--------header-design----------*/

#root>#header{ 
    border-bottom: solid 2px orange;
    box-shadow: var(--shadow);

}

#header>.float-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-title-container{
    display: inline-block;
    width: 120px;
    height: 35px;
    min-height: inherit;
}
    .logo-title-container>img{
        width: 120px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

.main-menu, .member-menu{
        font-size: 14px;
        font-weight: 500;
        width: 500px;  
        display: inline-block;
        height: 30px;
        padding-top: 12px;
    }
    
    .main-menu>ul, .member-menu>ul{ 
        height: 100%;
        width: 80%;
        --margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    
    .main-menu>ul>li>a, .member-menu a{
        display: inline-block;
        color: #4B4B4B;   
        line-height: 30px;   
        cursor: pointer;
        transition: 200ms;
        padding: 0px 16px;
        }

    .main-menu>ul>li>a:hover{
        background-color: #eff0f1;
        color: black;
        border-radius: 15px;
    } 

    .member-menu{
        width: 200px;
    }

    .member-menu a{
        padding: 0;
    }
    .member-menu a:hover{
        color: black;
    }



.aside-menu{
    
    margin-right: 0px;
    margin-top: 70px;
    
}
.aside-menu>ul{
    padding-top: 20px;
}
.aside-menu>ul>li{
    margin-bottom: 14px;
    margin-left: 5px;
    height: 33px;
}

.aside-menu a{
    color: #4B4B4B;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    justify-content: flex-start; 
    transition: 200ms; 
    padding-left: 4px;
}

.current-page, .aside-menu a:hover{
    background-color: #eff0f1;
    border-right: 5px orange solid;
    border-radius: 3px;
}


@media screen and (max-width:500px){
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        
        "body"
        "footer";
    }
    #body .float-content{
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }
    #root>#header{
        width: 100%;
        height: 55px;
        
    }
    .aside-menu{
        margin: 0;
    }
} 


/* ------------------------------------------------------------------- */
.content{  
    height: 100%;
}
.mypet-section{
    text-align: center;

   }
   .inner-width{
     max-width: 600px;
     margin: auto;
     padding: 40px;
     color: #333;
     overflow: visible;
    
 
   }
   .pets{
       margin-top: 0px;
       margin-left: 90px;
   }
   .mypet-section h1{
     font-size: 20px;
     display: inline-block;
     border-bottom: 4px solid;
     padding-bottom: 10px;
   }
   .fas{
        margin-left: 260px;
   }
   .list-box{
     width: 400px;
     padding: 0 0;
     transition: 0.4s;
     border: 1px solid #ddd;
     border-radius: 15px;
     box-shadow: 5px 5px 5px 5px #ddd;
     margin: 0 0;
     height: 500px;
     overflow-y: scroll;
   }
   .total{
       border-bottom:1px solid #ddd;
   }
 .follow-info{
     display: flex;
     margin: 20px 10px 10px 30px;

 }
   .list-box img{
     width: 60px;
     height: 60px;
     border-radius: 30px;

   }
   .f-name{
     margin-left: 20px;
     line-height: 50px;
     font-weight: bold;
     }
   .f-name a{
       font-size: 18px;
       margin: 0 15px ;
   }
   .f-status{
     margin:10px 20px; 
   }
 
   .button {
     display: inline-block;
 
     border: 2px solid #ffa726;
     border-radius: 15px;
     color: #ffa726;
     padding: 5px 10px;
     text-decoration: none;
     transition: 200ms ease-in-out;
     font-size: 15px;
 
   }

.selected{ /*---------------------ektlwjr*/
    border: 2px solid gray;
    color: gray;
} 

